<!DOCTYPE html>
<html>

<head>
    <%- include('./layout/head') %>
</head>
<style>
    table tbody {
        display: block;
        max-height: 300px;
        overflow-y: scroll;
    }

    table thead,
    table tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
</style>

<body>
    <div id="app" class="wrapper">
        <%- include('./layout/adminMenu') %>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Sidebar</span>
                    </button>
                </div>
            </nav>
            <h4>Add A Device</h4>
            <form @submit="onSubmit" onsubmit="return false" method="post">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="deviceid">Device Id</label>
                        <input type="text" v-model="form.deviceid" class="form-control" id="deviceid"
                            placeholder="Device Id" required>
                    </div>
                    <div class="form-group col-md-6">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="username">Wirtschaftseinheit</label>
                        <input type="text" v-model="form.wie" class="form-control" id="username"
                            placeholder="Wirtschaftseinheit" required>
                    </div>
                    <div class="form-group col-md-6">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="obj">Objekt</label>
                        <input type="text" v-model="form.obj" class="form-control" id="obj" placeholder="Objekt"
                            required>
                    </div>
                    <div class="form-group col-md-6">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ve">Verwaltungseinheit</label>
                        <input type="text" v-model="form.ve" class="form-control" id="ve"
                            placeholder="Verwaltungseinheit" required>
                    </div>

                    <div class="form-group col-md-6">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ei">Elemente</label>
                        <input type="text" v-model="form.ei" class="form-control" id="password" placeholder="Elemente"
                            required>
                    </div>
                    <div class="form-group col-md-6">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ei">ID</label>
                        <input type="number" v-model="form.id" class="form-control" id="password" placeholder="ID"
                            required>
                    </div>

                </div>
                <button type="submit" class="btn btn-primary" style="background-color: #7386D5;">Create</button>
                <br>
                <div v-if="id" class="alert alert-success" role="alert">
                    New Device is added. ID is {{id}}
                </div>
            </form>

            <!-- <div class="line"></div> -->

            <div v-if="err" class="alert alert-danger" role="alert">
                {{err}}
            </div>
        </div>
    </div>

    <%- include('./layout/footer') %>
    <script>
        new Vue({
            el: '#app',
            data: {
                form: {
                    deviceid: '',
                    wie: '',
                    obj: '',
                    ve: '',
                    ei: '',
                    id: ''
                },
                id: '',
                err: ''
            },
            async mounted() {
            },
            methods: {
                async onSubmit(e) {
                    e.preventDefault();
                    this.id = null;
                    this.err = null
                    if (this.form.password !== this.form.password2) {
                        return this.err = "Password dose not match";
                    }
                    try {
                        let response = await fetch('/secured/api/add/device', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(this.form)
                        })
                        if (response.ok) {
                            let data = await response.json();
                            console.log(data);
                            this.id = data.data._id;
                            this.form = {
                                deviceid: '',
                                wie: '',
                                obj: '',
                                ve: '',
                                ei: '',
                                id: ''
                            }
                        } else
                            throw await response.json()
                    } catch (e) {

                        this.err = "Email already exist"
                        console.log(e)
                    }

                }
            },
        })
    </script>
</body>

</html>