<!DOCTYPE html>
<html>

<head>
    <%- include('./layout/head') %>
</head>
<style>
    table tbody {
        display: block;
        max-height: 300px;
        overflow-y: scroll;
    }

    table thead,
    table tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
</style>

<body>
    <div id="app" class="wrapper">
        <%- include('./layout/adminMenu') %>

        <!-- Page Content  -->
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Sidebar</span>
                    </button>
                </div>
            </nav>
            <h2>Edit Unit Prices</h2>
            <form @submit="onSubmit" onsubmit="return false" method="post">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="water">Water Unit Price</label>
                        <input type="number" step="0.01" v-model="form.water" class="form-control" id="water"
                            placeholder="" required>
                    </div>
                    <div class="form-group col-md-6">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="el">Electricity Unit Price</label>
                        <input type="number" step="0.01" v-model="form.el" class="form-control" id="el" placeholder=""
                            required>
                    </div>
                    <div class="form-group col-md-6">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="gas">Gas Unit Price</label>
                        <input type="number" step="0.01" v-model="form.gas" class="form-control" id="gas" placeholder=""
                            required>
                    </div>
                    <div class="form-group col-md-6">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="gas">Heat Unit Price</label>
                        <input type="number" step="0.01" v-model="form.heat" class="form-control" id="gas"
                            placeholder="" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" style="background-color: #7386D5;">Edit</button>
            </form>

            <div class="line"></div>

            <div v-if="msg" class="alert alert-success" role="alert">
                Success
            </div>
            <div v-if="err" class="alert alert-danger" role="alert">
                {{err}}
            </div>
        </div>
    </div>

    <%- include('./layout/footer') %>
    <script>
        new Vue({
            el: '#app',
            data: {
                form: {
                    water: '',
                    el: '',
                    gas: '',
                    heat: ''
                },
                err: '',
                msg: ''
            },
            async mounted() {
                let response = await fetch('/secured/api/price');
                if (response.ok) {
                    let data = await response.json();
                    console.log(data)
                    this.form.water = data.water;
                    this.form.el = data.el;
                    this.form.gas = data.gas;
                    this.form.heat = data.heat;
                }
            },
            methods: {
                async onSubmit(e) {
                    e.preventDefault();
                    try {
                        let response = await fetch('/secured/api/updateprice', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                water: this.form.water,
                                el: this.form.el,
                                gas: this.form.gas,
                                heat: this.form.heat
                            })
                        });
                        if (response.ok) {
                            let data = await response.json();
                            console.log(data);
                            this.msg = "ok"
                        } else
                            throw await response.json()
                    } catch (e) {

                        this.err = "Email already exist"
                        console.log(e)
                    }

                }
            },
        })
    </script>
</body>

</html>