<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .data table {
            border-collapse: collapse;
            width: 100%;
            font-size: 12px;
        }

        .data th,
        .data td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>

<body>
    <div style="float: left;">
        <h6><%= fullname %></h6>
        <p style="font-size: 10px;">
            <%= street %><br>
            <%= city %> <%= zip %>
        </p>
    </div>
    <div style="float: right; margin-right: 10%;">
        <p style="font-size: 10px;">
        <table style="font-size: 10px;">
            <tr>
                <td>Company:</td>
                <td>Company Name</td>
            </tr>
            <tr>
                <td>Telephone:</td>
                <td>123456789</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>123@123.com</td>
            </tr>
        </table>
        </p>
    </div>
    <div class="data" style="float: left; width: 100%;">
        <h6>Issued Date: <%= new Date().toDateString() %></h6>
        <p>Data ID: <%= data._id %></p>
        <table>
            <thead>
                <tr>
                    <th>\</th>
                    <th>Water</th>
                    <th>Electricity</th>
                    <th>Gas</th>
                </tr>
            </thead>
            <tbody style="text-align: center;">
                <tr>
                    <td>Useage</td>
                    <td><%= data.water %></td>
                    <td><%= data.electricity %></td>
                    <td><%= data.gas %></td>
                </tr>
                <tr>
                    <td>Fee</td>
                    <td><%= data.water*price.water %></td>
                    <td><%= data.electricity*price.el %></td>
                    <td><%= data.gas*price.gas %></td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>