<nav id="sidebar">
    <div class="sidebar-header">
        <img src="/images/Logo.png" style="height:40px"/>
        <img src="/images/LogoWGK.png" style="height:100px"/>
        <a class="navbar-brand" href="#"> HS-Anhalt & WGK</a>
        <h4>Admin (<%=user.role < 1?'Primary':'Secondary' %>) DashBoard</h4>
    </div>

    <ul class="list-unstyled components">
        <p></p>
        <li>
            <a href="#usermenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Manage Users</a>
            <ul class="collapse list-unstyled" id="usermenu">
                <li>
                    <a href="/secured/dashboard/users">User List</a>
                </li>
                <% if(user.role < 1){ %>
                <li>
                    <a href="/secured/dashboard/add/user">Add New User</a>
                </li>
                <%}%>
               
            </ul>
        </li>
        <li>
            <a href="#datamenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Manage Data</a>
            <ul class="collapse list-unstyled" id="datamenu">
                <li>
                    <a href="/secured/dashboard/data">Data List</a>
                </li>
                <% if(user.role < 1){ %>
                <li>
                    <a href="/secured/dashboard/updateprice">Update Price</a>
                </li>
                <%}%>
            </ul>
        </li>
      
                <li>
                    <a href="#devicemenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Manage
                        Device</a>
                    <ul class="collapse list-unstyled" id="devicemenu">
                        <% if(user.role == 1){ %>
                <li>
                    <a href="/secured/dashboard/add/device">Add Device</a>
                </li>
                <%} else {%>
                <li>
                    <a href="/secured/dashboard/devices">Device List</a>
                </li>
                <%} %>
            </ul>
        </li>

        <li>
            <a href="/secured/dashboard/feedbacks">FeedBack</a>
        </li>

    </ul>


    <ul class="list-unstyled CTAs">
        <li>
            <a href="/logout" class="download">Logout</a>
        </li>
    </ul>
</nav>