<nav id="sidebar">
    <div class="sidebar-header">
        <img src="/images/Logo.png" style="height:40px"/>
        <img src="/images/LogoWGK.png" style="height:100px"/>
        <a class="navbar-brand" href="#"> HS-Anhalt & WGK</a>
        <h4>User DashBoard</h4>
    </div>

    <ul class="list-unstyled components">
        <p><%= user.username %></p>
        <li>
            <a href="/secured/dashboard/add/user">Data</a>
        </li>
        <!-- <li>
            <a href="/secured/user/dashboard/download">Download</a>
        </li> -->
    </ul>


    <ul class="list-unstyled CTAs">
        <li>
            <a href="/logout" class="download">Logout</a>
        </li>
    </ul>
</nav>