<nav id="sidebar">
    <div class="sidebar-header">
        <img src="/images/LogoWGK.png" style="height:100px"/>
        <!--<a class="navbar-brand" href="#">WGK</a>-->
        <a>Kundensoberfläche</a>
    </div>

    <ul class="list-unstyled components">
        <p><%= user.username %></p>
        <li>
            <a href="/secured/dashboard/add/user">Datei</a>
        </li>
        <!-- <li>
            <a href="/secured/user/dashboard/download">Download</a>
        </li> -->
    </ul>


    <ul class="list-unstyled CTAs">
        <li>
            <a href="/logout" class="download">Ausloggen</a>
        </li>
    </ul>
</nav>