<!DOCTYPE html>
<html>

<head>
    <%- include('./layout/head') %>
</head>
<style>
    table tbody {
        display: block;
        max-height: 300px;
        overflow-y: scroll;
    }

    table thead,
    table tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
</style>

<body>
    <div id="app" class="wrapper">
        <%- include('./layout/adminMenu') %>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Menü</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>
                </div>
            </nav>

            <h2>Kontos verwalten</h2>

            <table class="table">
                <thead class="thead-light" style="text-align: center;">
                    <tr>
                        <th scope="col" style="width: 20vw;">Konto Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Datum</th>
                    </tr>
                </thead>
                <thead class="thead-light" style="text-align: center;">
                    <tr>
                        <th scope="col" style="width: 20vw;"><input style="width: 100%;" v-model="id" type="text"
                                placeholder="ID"></th>
                        <th scope="col"><input style="width: 100%;" v-model="username" type="text"
                                placeholder="User Name"></th>
                        <th scope="col"><input style="width: 100%;" v-model="email" type="text" placeholder="Email">
                        </th>
                        <th></th>
                        <!-- <th scope="col"><input v-model="date" style="width: 100%;"
                                type="text" placeholder="mm-dd-yyyy"></th> -->
                    </tr>
                </thead>
                <tbody style="text-align: center;">

                    <tr v-for="(u,index ) in displayedUsers" :key="index">
                        <th scope="row" style="width: 20vw;color: rgb(17, 169, 240);"><a
                                :href="'/secured/dashboard/user/'+u._id">{{u._id}}</a></th>
                        <th>{{u.username}}</th>
                        <th>{{u.email}}</th>
                        <th>{{getFormattedDate(u.time)}}</th>
                    </tr>
                    <tr>

                </tbody>
            </table>

            <div class="line"></div>

        </div>
    </div>

    <%- include('./layout/footer') %>

    <script>
        new Vue({
            el: '#app',
            data: {
                users: [],
                displayedUsers: [],
                id: '',
                username: '',
                date: '',
                email: '',
            },
            async mounted() {
                let response = await fetch('/secured/api/users');
                if (response.ok) {
                    let r = await response.json();
                    this.users = r.data;
                    console.log(r.data)
                    this.displayedUsers = [...this.users];
                }
            },
            methods: {
                getFormattedDate(date) {
                    date = new Date(date)
                    var year = date.getFullYear();

                    var month = (1 + date.getMonth()).toString();
                    month = month.length > 1 ? month : '0' + month;

                    var day = date.getDate().toString();
                    day = day.length > 1 ? day : '0' + day;

                    return day + '-' + month + '-' + year;
                }
            },
            watch: {
                id: function(val) {
                    this.username = ''
                    this.email = ''
                    this.displayedUsers = this.users.filter(e => e._id.includes(val))
                },
                username: function(val) {
                    this.id = '';
                    this.email = ''
                    // this.username = '';
                    this.displayedUsers = this.users.filter(e => e.username.includes(val))
                },
                email: function(val) {
                    console.log(val)
                    this.id = '';
                    this.username = ''
                    this.displayedUsers = this.users.filter(e => e.email.includes(val))
                }
            }
        })
    </script>
</body>

</html>