<!DOCTYPE html>
<html>

<head>
    <%- include('./layout/head') %>
</head>
<style>
    table tbody {
        display: block;
        max-height: 300px;
        overflow-y: scroll;
    }

    table thead,
    table tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
</style>

<body>
    <div id="app" class="wrapper">
        <%- include('./layout/adminMenu') %>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Menü</span>
                    </button>

                </div>
            </nav>

            <div>
                <img src="/images/city.png"  style="height:330px"/>
            </div>


            <h5 class="bg-secondary text-white text-center">Rückmeldungen</h5>


            <table class="table">
                <thead class="thead-light" style="text-align: center;">
                    <tr>
                        <th scope="col" style="width: 20vw;">ID</th>
                        <th scope="col">Kunden ID</th>
                        <th scope="col">Nachricht</th>
                        <th scope="col">Datum</th>
                    </tr>
                </thead>
                <tbody style="text-align: center;">

                    <tr v-for="(u,index ) in displayedFeedbacks" :key="index">
                        <th scope="row" style="width: 20vw;color: rgb(17, 169, 240);"><a
                                :href="'/secured/dashboard/feedback/'+u._id">{{u._id}}</a></th>
                        <th class="bg-secondary text-white text-right">{{u.sender.username}}</th>
                        <th>
                            <span v-if="u.read" class="badge badge-primary">Read</span>
                            <span v-if="!u.read" class="badge badge-danger">UnRead</span></th>
                        <th class="bg-secondary text-white text-right">{{getFormattedDate(u.time)}}</th>
                    </tr>
                    <tr>

                </tbody>
            </table>

            <div class="line"></div>

        </div>
    </div>

    <%- include('./layout/footer') %>

    <script>
        new Vue({
            el: '#app',
            data: {
                feedbacks: [],
                displayedFeedbacks: [],
            },
            async mounted() {
                let response = await fetch('/secured/api/feedbacks');
                if (response.ok) {
                    let r = await response.json();
                    this.feedbacks = r.data;
                 
                    this.displayedFeedbacks = [...this.feedbacks];
                }
            },
            methods: {
                getFormattedDate(date) {
                    date = new Date(date)
                    var year = date.getFullYear();

                    var month = (1 + date.getMonth()).toString();
                    month = month.length > 1 ? month : '0' + month;

                    var day = date.getDate().toString();
                    day = day.length > 1 ? day : '0' + day;

                    return day + '/' + month + '/' + year;
                }
            },
            watch: {
                id: function(val) {
                    // this.username = ''
                    // this.email = ''
                    this.displayedUsers = this.users.filter(e => e._id.includes(val))
                },

            }
        })
    </script>
</body>

</html>