<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./layout/head') %>
</head>
<body >

<header>
    <%- include('./layout/header') %>
</header>

<main class="container">
    <div class="jumbotron">
        <div>
            <img src="/images/city2.png"  style="height:270px"/>
        </div>
        <h1 class="text-center" >ONLINE ZÄHLERSTÄNDE</h1>
        <p class="text-center">Eine Entwicklung von WGK GmbH und IMT e.V.</p>
    </div>
</main>

<footer>
    <%- include('./layout/footer') %>
</footer>

</body>
</html>